<!--Lyrics & Player MAKE NEW COMPONENT FOR ROUTING-->
<main class="wrapper">
  <div class="title">
    <p>Song Title</p>
  </div>
  <div class="lyrics">
    <p>Lyrics</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus cursus libero et tempus. Vivamus vel libero ut mi gravida aliquam. Proin tristique placerat turpis in tristique. Morbi fringilla quam at urna pretium convallis ornare eu nisl. Quisque pellentesque ligula elit, non pharetra ante hendrerit et. Suspendisse scelerisque, erat tincidunt cursus accumsan, tellus mauris scelerisque risus, ac ultricies odio velit in orci. Vivamus eu urna tellus. Etiam ultrices ipsum tincidunt massa tempor sagittis. Suspendisse augue urna, fermentum sed elit vel, sodales vulputate erat.
      Etiam luctus cursus libero et tempus. Vivamus vel libero ut mi gravida aliquam. Proin tristique placerat turpis in tristique. Morbi fringilla quam at urna pretium convallis ornare eu nisl. Quisque pellentesque ligula elit, non pharetra ante hendrerit et. Suspendisse scelerisque, erat tincidunt cursus accumsan, tellus mauris scelerisque risus, ac ultricies odio velit in orci. Vivamus eu urna tellus. Etiam ultrices ipsum tincidunt massa tempor sagittis. Suspendisse augue urna, fermentum sed elit vel, sodales vulputate erat.
    </p>
  </div>
  <div class="player">
    <iframe></iframe>
  </div>
</main>
