.wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  /*background-color: red;*/
  width: 100%;
  height: 82%;
}

.result {
  overflow: auto;
  /*background-color: blue;*/
  margin: 0 1rem;
}

.head {
  text-align: center;
}
