footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

@media screen and (max-height: 640px) {
  div {
    height: 80vh;
  }
}

/*
@media screen and (min-height: 641px) {
  div {
    height: 84vh;
  }
}
*/
