<footer>
  <mat-tab-group headerPosition="below" backgroundColor="primary" color="accent" >
    <mat-tab label="Home">
      <ng-template matTabContent>
        <div>
          <app-home></app-home>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Upcoming Events">
      <ng-template matTabContent>
        <!-- INSERT UPCOMING EVENTS PAGE-->
      </ng-template>
    </mat-tab>
    <mat-tab label="About">
      <ng-template matTabContent>
        <div>
          <app-about></app-about>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</footer>
