<footer>
  <mat-tab-group headerPosition="below" backgroundColor="primary" color="accent" mat-stretch-tabs selectedIndex="3">
    <!-- EVENTS -->
    <mat-tab label="Events" >
      <ng-template matTabContent>
        <div>
          <app-events></app-events>
        </div>
      </ng-template>
    </mat-tab>
    <!-- LYRICS-->
    <mat-tab label="Lyrics">
      <ng-template matTabContent>
        <div>
          <app-lyrics></app-lyrics>
        </div>
      </ng-template>
    </mat-tab>
    <!-- SEARCH -->
    <mat-tab label="Search">
      <div [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </mat-tab>
  </mat-tab-group>
</footer>
