.nav-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100%;
  grid-template-areas:
  "nav-logo nav-search"
}

.nav-logo {
  grid-area: nav-logo;
  align-self: center;
  justify-self: start;
}

.nav-search {
  grid-area: nav-search;
  align-self: start;
  justify-self: end;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color:#fbfbfb;
  border-radius: 5px;
  height: 60%;
  margin-top: 0.25rem;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix  {
  padding: 0.5rem 0;
  margin-bottom: 1.25rem;
  margin-top: 0.25rem;
}

::ng-deep .mat-form-field-flex {
  margin-left: -0.75rem;
}

mat-form-field {
  color: black !important;
  font-size: 12px;
  width: 80%;
}

mat-toolbar {
  padding: 0px;
}

p {
  font-size: 16px;
  margin-left: 0.75rem;
}

a {
  text-decoration: none;
}

a {
  color: inherit;
}
