.nav-wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas:
  "nav-logo"
}

.nav-logo {
  grid-area: nav-logo;
  align-self: center;
  justify-self: center;
  font-size: 16px;
}

.nav-account {
  grid-area: nav-logo;
  align-self: center;
  justify-self: end;
  font-size: 13px;
  padding: 0px !important;
}
